<div
  th:fragment="sidebar"
  class="d-flex flex-column flex-shrink-0 p-3 text-white sidebar"
>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a th:href="@{/home}" class="nav-link text-white sidebar-link">
        <i class="bi bi-house-door sidebar-icon"></i>
        <span class="sidebar-text">Home</span>
      </a>
    </li>
    <li>
      <a th:href="@{/friends}" class="nav-link text-white sidebar-link">
        <i class="bi bi-people sidebar-icon"></i>
        <span class="sidebar-text">Friends</span>
      </a>
    </li>
    <li>
      <a th:href="@{/groups}" class="nav-link text-white sidebar-link">
        <i class="bi bi-chat-left-text sidebar-icon"></i>
        <span class="sidebar-text">Chat</span>
      </a>
    </li>
    <li>
      <a th:href="@{/direct-message}" class="nav-link text-white sidebar-link">
        <i class="bi bi-envelope sidebar-icon"></i>
        <span class="sidebar-text">Messages</span>
      </a>
    </li>
    <li>
      <a th:href="@{/settings}" class="nav-link text-white sidebar-link">
        <i class="bi bi-gear sidebar-icon"></i>
        <span class="sidebar-text">Setting</span>
      </a>
    </li>
  </ul>
</div>
